<footer class="footer top-buffer">
    <div class="container">
      <br/>
      <div class="row">
        <div class="col-md-4">
          <div class="d-inline-block align-top">
            <h3><b>Atención Ciudadana</b></h3>
            <p><b>Dirección:</b><span> Dr. Lavista 144, acceso 1, primer piso, Doctores, Cuauhtémoc, C.P.06720.</span></p>
            <p><b>Contributel:</b><span > 55 5588 3388</span></p>
          </div>
        </div>
        <div class="col-md-4">
  
        </div>
        <div class="col-md-4" align="end">
          <img src="assets/img/Logo_Generico_F.png" height="45" class="d-inline-block align-top" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md bot-buffer" align="center">
          <span>
            {{hoy| date}} 
          </span>
        </div>
      </div>
    </div>
  
  </footer>