<mat-toolbar class="white-toolbar mat-elevation-z1">
    
      
      <a routerLink="/" class="d-block d-md-none d-lg-none d-xl-none">
        <img src="assets/img/logo_dependencia.png" class="img-responsive" alt="Secretaría de Administración y Finanzas">
      </a>
      <a routerLink="/" class="d-none d-md-block d-lg-block d-xl-block">
        <img src="assets/img/logo_dependencia.png" height="70" alt="Secretaría de Administración y Finanzas">
      </a>
        <span class="spacer"></span>
        
          <!--img src="assets/img/header/ovica-logo.png" height="115"  alt=""-->
        
</mat-toolbar>
