.input-filter {
    width: 240px;
    margin-right: 20px;
}

.input-cta-catastral {
    width: 110px;
    margin-right: 20px;
}

.input-filter-long {
    width: 500px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }