<h1 mat-dialog-title>Carga del avalúo</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col">
            <ng-container *ngIf="loading">
                <h3 class="cdmx-color-accent">Subiendo archivo...</h3>
                <mat-progress-bar [mode]="mode" [value]="progress" [bufferValue]="bufferValue"></mat-progress-bar>
            </ng-container>
            <ng-container *ngIf="!loading">
                <div class="alert" [ngClass]="{'alert-warning': !success, 'alert-success': success}" *ngIf="mensaje">
                    {{mensaje}}
                </div>
            </ng-container>
        </div>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-flat-button color="default" *ngIf="loading" [mat-dialog-close]="">Cancelar</button>
</mat-dialog-actions>