<mat-card>
    <mat-card-header>
        <mat-card-title>Bandeja de Entrada</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h3 class="cdmx-color-accent">Filtro de avalúos</h3>
        <mat-radio-group [(ngModel)]="filtroSelected">
            <div class="row">
                <div class="col-1">
                    <mat-radio-button value="0" (change)="getFiltroSelected($event)"></mat-radio-button>
                </div>
                <div class="col-2">
                    <h4 class="cdmx-color-accent">Rango de fechas:</h4>
                </div>
                <div class="col">
                    <mat-form-field class="input-filter">
                        <mat-label>Fecha Inicio</mat-label>
                        <input matInput readonly [matDatepicker]="pickini" [(ngModel)]="filtros.fecha_ini" [disabled]="opcionFiltro[0]" [required]="!opcionFiltro[0]" (dateChange)="validateDate()">
                        <mat-datepicker-toggle matSuffix [for]="pickini"></mat-datepicker-toggle>
                        <mat-datepicker #pickini></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="input-filter">
                        <mat-label>Fecha Fin</mat-label>
                        <input matInput readonly [matDatepicker]="pickfin" [(ngModel)]="filtros.fecha_fin" [disabled]="opcionFiltro[0]" [required]="!opcionFiltro[0]" (dateChange)="validateDate()" [min]="filtros.fecha_ini">
                        <mat-datepicker-toggle matSuffix [for]="pickfin"></mat-datepicker-toggle>
                        <mat-datepicker #pickfin></mat-datepicker>
                        <mat-error>{{errores[0].errorMessage}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <mat-radio-button value="1" (change)="getFiltroSelected($event)"></mat-radio-button>
                </div>
                <div class="col-2">
                    <h4 class="cdmx-color-accent">No. Avalúo:</h4>
                </div>
                <div class="col">
                    <mat-form-field class="input-filter">
                        <mat-label>No. Avalúo</mat-label>
                        <input matInput [(ngModel)]="filtros.no_avaluo" [disabled]="opcionFiltro[1]" [required]="!opcionFiltro[1]" (ngModelChange)="checkCanSearch()">
                        <mat-error>{{errores[1].errorMessage}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <mat-radio-button value="2" (change)="getFiltroSelected($event)"></mat-radio-button>
                </div>
                <div class="col-2">
                    <h4 class="cdmx-color-accent">No. único avalúo:</h4>
                </div>
                <div class="col">
                    <mat-form-field class="input-filter">
                        <mat-label>No. único avalúo</mat-label>
                        <input matInput [(ngModel)]="filtros.no_unico" [disabled]="opcionFiltro[2]" [required]="!opcionFiltro[2]" (ngModelChange)="checkCanSearch()">
                        <mat-error>{{errores[2].errorMessage}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <mat-radio-button value="3" (change)="getFiltroSelected($event)"></mat-radio-button>
                </div>
                <div class="col-2">
                    <h4 class="cdmx-color-accent">Cuenta catastral:</h4>
                </div>
                <div class="col">
                    <mat-form-field class="input-cta-catastral">
                        <mat-label>Región</mat-label>
                        <input matInput #region [(ngModel)]="filtros.region" [disabled]="opcionFiltro[3]" [required]="!opcionFiltro[3]" minlength="3" maxlength="3" (keypress)="keyPressAlphaNumeric($event)" (keyup)="focusNextInput($event, manzana)" (ngModelChange)="checkCanSearch()">
                        <mat-error>{{errores[3].errorMessage}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-cta-catastral">
                        <mat-label>Manzana</mat-label>
                        <input matInput #manzana [(ngModel)]="filtros.manzana" [disabled]="opcionFiltro[3]" [required]="!opcionFiltro[3]" minlength="3" maxlength="3" (keypress)="keyPressAlphaNumeric($event)" (keyup)="focusNextInput($event, lote)" (ngModelChange)="checkCanSearch()">
                        <mat-error>{{errores[3].errorMessage}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-cta-catastral">
                        <mat-label>Lote</mat-label>
                        <input matInput #lote [(ngModel)]="filtros.lote" [disabled]="opcionFiltro[3]" minlength="2" maxlength="2" (keypress)="keyPressAlphaNumeric($event)" (keyup)="focusNextInput($event, unidad)">
                    </mat-form-field>
                    <mat-form-field class="input-cta-catastral">
                        <mat-label>Unidad Privativa</mat-label>
                        <input matInput #unidad [(ngModel)]="filtros.unidad" [disabled]="opcionFiltro[3]" minlength="3" maxlength="3" (keypress)="keyPressAlphaNumeric($event)">
                    </mat-form-field>
                </div>
            </div>
        </mat-radio-group>
        <div class="row">
            <div class="col-2">
                <h4 class="cdmx-color-accent">Estado:</h4>
            </div>
            <div class="col">
                <mat-form-field class="input-filter-long">
                    <mat-label>Estado</mat-label>
                    <mat-select [(ngModel)]="filtros.estado">
                        <mat-option value="">Todos</mat-option>
                        <mat-option value="1">Recibido</mat-option>
                        <mat-option value="2">Cancelado</mat-option>
                        <mat-option value="6">Enviado Notario</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h4 class="cdmx-color-accent">Vigencia</h4>
            </div>
            <div class="col">
                <mat-radio-group aria-label="Vigencia" [(ngModel)]="filtros.vigencia">
                    <mat-radio-button value="" (change)="changeVigencia($event)">Todos</mat-radio-button>
                    <mat-radio-button value="1" (change)="changeVigencia($event)">Vigentes</mat-radio-button>
                    <mat-radio-button value="2" (change)="changeVigencia($event)">No Vigentes</mat-radio-button>
                  </mat-radio-group>
            </div>
        </div>
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col">
                <div class="d-flex flex-row-reverse">
                    
                    <button mat-icon-button color="primary" aria-label="Limpiar Filtros" matTooltip="Limpiar Filtros" (click)="clean()">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" aria-label="Busqueda" matTooltip="Buscar" (click)="getData()" [disabled]="!canSearch">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-6">
            </div>
        </div>

    
        <br>
        <div style="padding: 30px; text-align: center;" *ngIf="loading && busqueda">
            <mat-spinner style="margin:0 auto;"></mat-spinner>
            <p>Cargando...</p>
        </div>
        <div class="alert alert-info" *ngIf="dataSource.length == 0 && !loading && busqueda">
            No hay avalúos para el filtro seleccionado
        </div>
        <table mat-table [dataSource]="dataSource" *ngIf="!loading && dataSource.length > 0 && busqueda">
            <ng-container matColumnDef="no_unico">
                <th mat-header-cell *matHeaderCellDef> Nº único </th>
                <td mat-cell *matCellDef="let element"> {{element.numerounico}} </td>
            </ng-container>
            <ng-container matColumnDef="no_avaluo">
                <th mat-header-cell *matHeaderCellDef> Nº avalúo </th>
                <td mat-cell *matCellDef="let element"> {{element.numeroavaluo}} </td>
            </ng-container>
            <ng-container matColumnDef="cuenta_cat">
                <th mat-header-cell *matHeaderCellDef> Cuenta cat. </th>
                <td mat-cell *matCellDef="let element">
                    {{element.region}}-{{element.manzana}}-{{element.lote}}-{{element.unidadprivativa}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha_pres">
                <th mat-header-cell *matHeaderCellDef> Fecha pres. </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha_presentacion | date}} </td>
            </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estadoavaluo}} </td>
            </ng-container>
            <ng-container matColumnDef="perito">
                <th mat-header-cell *matHeaderCellDef> Perito </th>
                <td mat-cell *matCellDef="let element"> {{element.perito}} </td>
            </ng-container>
            <ng-container matColumnDef="notario">
                <th mat-header-cell *matHeaderCellDef> Notario </th>
                <td mat-cell *matCellDef="let element"> {{element.notario}} </td>
            </ng-container>
            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element"> {{element.tipotramite}} </td>
            </ng-container>
            <ng-container matColumnDef="dict">
                <th mat-header-cell *matHeaderCellDef> Dict </th>
                <td mat-cell *matCellDef="let element"> <mat-checkbox class="example-margin" [disabled]="true"></mat-checkbox> </td>
            </ng-container>
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item [disabled]="element.estadoavaluo == 'Enviado notario' || element.estadoavaluo == 'Cancelado'" (click)="cancelAvaluo(element.numerounico)">
                            <mat-icon>sync_alt</mat-icon>
                            <span>Cancelar avalúo</span>
                        </button>                          
                        <button mat-menu-item (click)="avaluosProximos(element.numerounico)">
                            <mat-icon>videocam</mat-icon>
                            <span>Avalúos Próximos</span>
                          </button>
                        <button mat-menu-item [disabled]="element.estadoavaluo == 'Enviado notario' || element.estadoavaluo == 'Cancelado' || element.tipotramite == 'CAT'"  (click)="openDialogAsignaNotario(element.numerounico)">
                            <mat-icon>account_box</mat-icon>
                            <span>Asignar notario</span>
                        </button>
                        <button mat-menu-item [disabled]="element.estadoavaluo == 'Cancelado'" (click)="acuseAvaluo(element.numerounico)">
                            <mat-icon>account_box</mat-icon>
                            <span>Acuse avalúo</span>
                        </button>
                        <button mat-menu-item (click)="descargarJustificante(element.numerounico)">
                            <mat-icon>account_box</mat-icon>
                            <span>Descargar Justificante</span>
                        </button>
                        <!--<button mat-menu-item>
                          <mat-icon>zoom_in</mat-icon>
                          <span>Visualizar Avalúo</span>
                        </button> -->
                        
                      </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator  [length]="total" [pageSize]="15" [pageSizeOptions]="[15]" (page)="paginado($event)">
        </mat-paginator>
    </mat-card-content>
</mat-card>