<mat-card>
    <mat-card-header>
        <mat-card-title>AVALUOS - Descargar acuse de avalúo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="padding: 30px; text-align: center;" *ngIf="!dataAvaluo">
            <mat-spinner style="margin:0 auto;"></mat-spinner>
            <p>Cargando...</p>
        </div>
        <ng-container *ngIf="dataAvaluo">
            <div id="contenidoPDF">
                <div class="row">
                    <div class="col-md-12">
                        <strong>NÚMERO ÚNICO </strong>{{noUnico}}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <strong>I. CUENTA CATASTRAL</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <table>
                            <thead>
                                <tr>
                                    <th>Reg.</th>
                                    <th>Manz.</th>
                                    <th>Lote</th>
                                    <th>Loc.</th>
                                    <th>D.V.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{dataAvaluo.cuentaCatastral.region}}</td>
                                    <td>{{dataAvaluo.cuentaCatastral.manzana}}</td>
                                    <td>{{dataAvaluo.cuentaCatastral.lote}}</td>
                                    <td>{{dataAvaluo.cuentaCatastral.unidadprivativa}}</td>
                                    <td>{{dataAvaluo.cuentaCatastral.digitoverificador}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <strong>II. CUENTA DE AGUA</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <table>
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{dataAvaluo.cuentaAgua}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <strong>III. DATOS DEL PROPIETARIO O SOLICITANTE DEL AVALÚO</strong>
                    </div>
                </div>
                <div class="borde">
                    <div class="row">
                        <div class="col-md-4">
                            <span><strong>Nombre, denominación o razón social</strong></span>
                        </div>
                        <div class="col-md-8">
                            {{dataAvaluo.propietario.apellidopaterno}} {{dataAvaluo.propietario.apellidomaterno}} {{dataAvaluo.propietario.nombre}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <span><strong>Calle</strong></span>
                        </div>
                        <div class="col-md-3">
                            {{dataAvaluo.propietario.calle}}
                        </div>
                        <div class="col-md-2">
                            <span><strong>No. Exterior</strong></span>
                        </div>
                        <div class="col-md-2">
                            {{dataAvaluo.propietario.numeroexterior}}
                        </div>
                        <div class="col-md-2">
                            <span><strong>No. Interior</strong></span>
                        </div>
                        <div class="col-md-2">
                            {{dataAvaluo.propietario.numerointerior}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <span><strong>Colonia</strong></span>
                        </div>
                        <div class="col-md-11">
                            {{dataAvaluo.propietario.nombrecolonia}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span><strong>Delegación o Municipio</strong></span>
                        </div>
                        <div class="col-md-5">
                            {{dataAvaluo.propietario.nombredelegacion}}
                        </div>
                        <div class="col-md-2">
                            <span><strong>Código Postal</strong></span>
                        </div>
                        <div class="col-md-2">
                            {{dataAvaluo.propietario.codigopostal}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <span><strong>Entidad Federativa</strong></span>
                        </div>
                        <div class="col-md-6">
                            DISTRITO FEDERAL
                        </div>
                        <div class="col-md-2">
                            <span><strong>Teléfono</strong></span>
                        </div>
                        <div class="col-md-2">
                            5555555555
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <strong>IV. UBICACIÓN DEL INMUEBLE QUE SE ADQUIERE</strong>
                    </div>
                </div>
                <div class="borde">
                    <div class="row">
                        <div class="col-md-1">
                            <span><strong>Calle</strong></span>
                        </div>
                        <div class="col-md-11">
                            AAAAAAAAAAAAAAAA
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <span><strong>Manzana</strong></span>
                        </div>
                        <div class="col-md-2">
                            1111
                        </div>
                        <div class="col-md-1">
                            <span><strong>Lote</strong></span>
                        </div>
                        <div class="col-md-2">
                            1111
                        </div>
                        <div class="col-md-2">
                            <span><strong>No. Exterior</strong></span>
                        </div>
                        <div class="col-md-1">
                            1111
                        </div>
                        <div class="col-md-2">
                            <span><strong>No. Interior</strong></span>
                        </div>
                        <div class="col-md-1">
                            1111
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <span><strong>Colonia</strong></span>
                        </div>
                        <div class="col-md-3">
                            AAAAAAAAAAAAA
                        </div>
                        <div class="col-md-1">
                            <span><strong>Delegación</strong></span>
                        </div>
                        <div class="col-md-4">
                            AAAAAAAAAAAAA
                        </div>
                        <div class="col-md-2">
                            <span><strong>Código Postal</strong></span>
                        </div>
                        <div class="col-md-1">
                            11111
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <strong>V. DATOS DE LA ESCRITURA</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span><strong>Número Escritura</strong></span>
                    </div>
                    <div class="col-md-2">
                        {{dataAvaluo.escritura.numescritura}}
                    </div>
                    <div class="col-md-1">
                        <span><strong>Fecha</strong></span>
                    </div>
                    <div class="col-md-2">
                        {{dataAvaluo.fuenteInformacionLegal.fecha | date}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span><strong>Número Notaria</strong></span>
                    </div>
                    <div class="col-md-2">
                        {{dataAvaluo.escritura.numnotario}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span><strong>Nombre del Notario</strong></span>
                    </div>
                    <div class="col-md-4">
                        {{dataAvaluo.escritura.nombrenotario}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span><strong>Entidad Federativa</strong></span>
                    </div>
                    <div class="col-md-4">
                        {{dataAvaluo.escritura.distritojudicialnotario}}
                    </div>
                </div>
            </div>
        </ng-container>   
    </mat-card-content>
    <br>
    <div class="row">
        <div class="col-md-12">
            <button mat-raised-button (click)="generarPDF()">
                <mat-icon>save_alt</mat-icon> Descargar PDF
            </button>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <button mat-raised-button (click)="regresar()">
                <mat-icon>arrow_back</mat-icon> Regresar
            </button>
        </div>
    </div>
</mat-card>