/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #F5F5F5;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; display: flex; flex-direction: column }
.content {
    min-height: 683px;
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
    color: #898d8d;
    background-color: #333333;
  }
  .footer b{
      color: #FFF;
  }

.img-responsive {
    width: 100%;
    height: auto;
}
.cdmx-color {
  color: #00b140;
}
.cdmx-color-accent {
  color: #0f4c42;
}
hr.cdmx {
  border: 2px solid #00b140;
  border-radius: 2px;
}

hr.cdmx-doted {
  border: 1px dotted #00b140;
}

table {
    width: 100%;
}
  
.top-buffer {
    margin-top: 25px;
}
  
.bot-buffer {
    margin-bottom: 25px;
}

.truncate-cell {
    max-width: 60px; /* feel free to include any other value */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .avatar-container{
    display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;  
}

.app-container{
    margin-top: 1px;
    margin-bottom: -24px;
    min-height: 683px;
  }

  .sidenav-content {
    
    padding: 35px;
    height: 100%;
    width: 100%;
  }
  
  .sidenav {
    min-width: 240px;
    padding-top: 20px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }

  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .alert h4 {
    margin-top: 0;
    color: inherit;
  }
  
  .alert .alert-link {
    font-weight: bold;
  }
  
  .alert > p,
  .alert > ul {
    margin-bottom: 0;
  }
  
  .alert > p + p {
    margin-top: 5px;
  }
  
  .alert-dismissable,
  .alert-dismissible {
    padding-right: 35px;
  }
  
  .alert-dismissable .close,
  .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
  
  .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  
  .alert-success hr {
    border-top-color: #c9e2b3;
  }
  
  .alert-success .alert-link {
    color: #2b542c;
  }
  
  .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
  }
  
  .alert-info hr {
    border-top-color: #a6e1ec;
  }
  
  .alert-info .alert-link {
    color: #245269;
  }
  
  .alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
  }
  
  .alert-warning hr {
    border-top-color: #f7e1b5;
  }
  
  .alert-warning .alert-link {
    color: #66512c;
  }
  
  .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  
  .alert-danger hr {
    border-top-color: #e4b9c0;
  }
  
  .alert-danger .alert-link {
    color: #843534;
  }
  