<mat-selection-list #men [multiple]="false">
    <mat-list-option *ngFor="let menu of menus" [routerLink]="'/main/' + menu.ruta">
        <mat-icon matListIcon>{{menu.icono}}</mat-icon>
        {{menu.nombre}}
    </mat-list-option>
    <mat-list-option [routerLink]="'/main'">
        <mat-icon matListIcon>assignment</mat-icon>
        Informes
    </mat-list-option>
    <mat-nav-list style="margin-left: 45px;">
        <a mat-list-item [routerLink]="'/main/investigacion-mercado'"><mat-icon>leaderboard</mat-icon> Investigación de Mercado </a>
    </mat-nav-list>
</mat-selection-list>